*{
     margin: 0;
     padding: 0;
}
body{
     width: 1920px;
     height: 1959px;
     background-color: rgb(244,240,240);
	 overflow-x: hidden;
}

/*轮播图开始*/
.lunbotu{
  width: 1022px;
  height: 566px;
  border:solid 1px;
  margin-left: 448px;
  margin-right: 200px;
}
/*轮播图结束*/
.biao1{
  width: 292px;
  height: 303px;
  margin: 37px 20px 0px 22px;
  border: solid 2px rgb(161,164,171);
  display: inline-block;
}
#tu1{
  margin-left: 0px;
}
#tu2{
  margin-top: 13px;
  float:right;
}
.tu{
  background-color:rgb(161,164,171);
  width: 292px;
  height: 40px;
  display: block;
}
#tu6{
  
  width: 292px;
  height: 6px;
  border-bottom: solid 4px rgb(161,164,171);
}
#tu3{
margin:10px;
transition: all 0.1s;
}
#tu3:hover{
  transform: scale(1.1);
}
#tu4{
margin-left: 8px;
margin-right: 4px;
margin-top: 8px;
float: left;
display: inline-block;
}
#wenzi1{
  margin-right: 0px;
  margin-top: 8px;
  font-size: 14px;
  width: 200px;
  height:30px;
  float:right;
  color: rgb(91,91,90);
}
#wenzi1 a{
  text-decoration: none;
}
#wenzi2{
  font-size: 12px;
  margin-right: 0px;
  width: 200px;
  height:30px;
  float:right;
  color: rgb(95,95,94);
}
#tu5{
  width: 270px;
  height: 78px;
}
.biao2{
  width: 292px;
  height:303px;
  margin: 37px 44px 0px 448px;
  border:solid 2px rgb(161,164,171);
  float: left;
}
.biao a{
cursor: pointer;
}
.biao3{
  width: 292px;
  height: 303px;
  border:solid 2px rgb(161,164,171);
  float:right;
  margin: 37px 450px 0px 0px;
}
.clear{ clear:both} 
.liebiao{
  width:  1022px;
  margin-top :52px;
  margin-left:448px;
  height:150px;
  border: solid 3px rgb(161,164,171);
}
#lietu1{
  margin-top: 6px;
  margin-bottom: 4px;
  margin-left: 8px;
  width: 45px;
  height: 131px;
  float:left;
}
#lietu2{
  float:left;
  margin-top:32px;
  margin-left: 45px;
  margin-bottom: 10px;
}
#lietu2:hover{
  cursor: pointer;
}
.liebiao a{
  text-decoration: none;
  text-align:10px;
}
.liebiao{
  float:left;
}
.liebiao1{
  width: 135px;
  height: 150px;
  float: left;
  margin-left: 0px;
  transition: all 0.1s;
}
.liebiao1:hover{
  transform: scale(1.1);
}
#liewen1{
margin-top: 20px;
margin-left: 46px;
text-align: center;
width: 64px;
height: 28px;
font-size: 18px;
color:rgb(48,47,49);
}
.biao4{
  width: 292px;
  height: 305px;
  margin-top: 58px;
  margin-left: 10px; 
  margin-right: 40px;
  border: solid 2px rgb(161,164,171);
  display: inline-block;
}
.biao5{
  width: 292px;
  height: 305px;
  margin-top: 58px;
  margin-right: 57px;
  margin-left: 448px;
  border: solid 2px rgb(161,164,171);
 float:left;
}
.biao6{
  width: 292px;
  height: 305px;
  margin: 58px 450px 0px 2px; 
  border: solid 2px rgb(153,159,158);
  float:right;
}
#tubiao li {
    background: url(../images/img_43.jpg)  no-repeat center left;
    list-style: none;
    height: 29px;
    line-height: 24px;
    position: relative;
    padding-left: 21px;
    margin-bottom: 6px;
}


#tubiao li a{
  text-decoration: none;
}
#tubiao li:hover{
  color:rgb(61,77,90);
  text-decoration: underline;
}
 #tubiao li{
  font-size: 14px;
  list-style: none;
  line-height: 30px;
}
.biao6 a{
  text-decoration: none;
  font-size: 16px; 
  line-height: 35px;
}
.biao6.p{
  width: 292px;
  height: 80px;
}
.biao6-1{
  width: 292px;
  height: 85px;
}