*{
     margin: 0;
     padding: 0;
}
body {

    background-color: rgb(244,240,240);
	 font-family: "微软雅黑";
}
.container{
    width: 1000px;
    margin: 0 auto;
}
}
/*头部开始*/

.logo{
     margin-top: 0px;
     width: 541px;
     height: 118px;
	 display: inline-block;
	 vertical-align: top;
}
.logo::after{
     overflow: hidden;
     display: table;
     visibility: hidden;
     content: '';
     clear: both;
}
div#sousuo{
    display: inline-block;
    vertical-align: top;
    margin-top: 58px;
    text-align: right;
    width: 240px;
	float:right;
}
input[type="text"] {
    font-family: "微软雅黑";
    background: #f3f3f3;
    border: solid 1px #ccc;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    padding-left: 10px;
    width: 165px;
    display: inline-block;
    vertical-align: top;
}
input[type="submit"] {
    font-family: "微软雅黑";
    background-color: #3598db;
    color: #fff;
    border: solid 1px #3598db;
    height: 42px;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    padding: 0 10px;
}
.nav{
   width: 1920px;
   height: 45px;
   background-color: rgb(61,77,90);
   margin-top: 118px;
}
.nav ul {
   margin-left: 448px;
   list-style: none;
   text-align: center;
   width: 1600px;
   height: 45px;
}
.nav ul li{
   float: left;
   line-height: 45px;
   text-align: center;
   width: 5.8%;
}
.nav ul li::after{
   overflow: hidden;
   display: table;
   visibility: hidden;
   content: '';
   clear: both;
}
.nav a{
    text-decoration: none;
    display: block;
    padding: 0;
    color: #fff;
    font-size: 16px;
  }
.nav a:hover{
    color: #fff;
    background-color: rgb(84,105,122);
    width: auto;
}
.nav ul li ul{
    display: none;
    background-color: rgb(61,77,90);
    position: absolute;
    float: none;
}
.nav ul li:hover ul{
    display: block;
}
.nav ul li ul li {
   float: none;
   height:35px;
   width: 92.8px;
   margin: 0px;
}
.nav ul li ul{
  float: none;
  height: auto;
  width: 92.8px;
  margin: 0px;
}
/*头部结束*/